@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostAspForCustomDate" novalidate>
    <govuk-date-input asp-for="CustomDate" />

    <govuk-button type="submit">Save</govuk-button>
</form>
