@page

<govuk-summary-list>
    <summary-list-row>
        <key>
            Name
        </key>
        <value>
            Sarah Philips
        </value>
        <actions>
            <action href="#" visually-hidden-text="name">Change</action>
        </actions>
    </summary-list-row>
    <summary-list-row>
        <key>
            Date of birth
        </key>
        <value>
            5 January 1978
        </value>
        <actions>
            <action href="#" visually-hidden-text="date of birth">Change</action>
        </actions>
    </summary-list-row>
    <summary-list-row>
        <key>
            Contact information
        </key>
        <value>
            72 Guild Street<br>London<br>SE23 6FH
        </value>
        <actions>
            <action href="#" visually-hidden-text="contact information">Change</action>
        </actions>
    </summary-list-row>
    <summary-list-row>
        <key>
            Contact details
        </key>
        <value>
            <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
        </value>
        <actions>
            <action href="#" visually-hidden-text="contact details">Change</action>
        </actions>
    </summary-list-row>
</govuk-summary-list>
