@page

<govuk-summary-list>
    <summary-list-row>
        <key>
            Name
        </key>
        <value>
            Sarah Philips
        </value>
    </summary-list-row>
    <summary-list-row>
        <key>
            Date of birth
        </key>
        <value>
            5 January 1978
        </value>
    </summary-list-row>
    <summary-list-row>
        <key>
            Contact information
        </key>
        <value>
            72 Guild Street<br>London<br>SE23 6FH
        </value>
    </summary-list-row>
    <summary-list-row>
        <key>
            Contact details
        </key>
        <value>
            <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
        </value>
    </summary-list-row>
</govuk-summary-list>
