@page

<govuk-notification-banner>
    <govuk-notification-banner-title heading-level="2" id="banner-title">
        Important information
    </govuk-notification-banner-title>
    <p class="govuk-notification-banner__heading">
        You have 7 days left to send your application.
        <a class="govuk-notification-banner__link" href="#">View application</a>.
    </p>
</govuk-notification-banner>
