@page

<govuk-radios name="how-contacted" id-prefix="contact">
    <radios-fieldset>
        <legend is-page-heading="true" class="govuk-fieldset__legend--l">
            How would you prefer to be contacted?
        </legend>

        <hint>
            Select one option.
        </hint>

        <radios-item value="email">
            Email
            <conditional>
                <govuk-input id="contact-by-email" name="contact-by-email" type="email" autocomplete="email" spellcheck="false" class="govuk-!-width-one-half">
                    <label>Email address</label>
                    <error-message>Email address cannot be blank</error-message>
                </govuk-input>
            </conditional>
        </radios-item>

        <radios-item value="phone">
            Phone
            <conditional>
                <govuk-input id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel" class="govuk-!-width-one-third">
                    <label>Phone number</label>
                </govuk-input>
            </conditional>
        </radios-item>

        <radios-item value="text">
            Text message
            <conditional>
                <govuk-input id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel" class="govuk-!-width-one-third">
                    <label>Mobile phone number</label>
                </govuk-input>
            </conditional>
        </radios-item>
    </radios-fieldset>
</govuk-radios>
