@model GovUk.Frontend.AspNetCore.IntegrationTests.DateInputsTestsModel

<form asp-action="PostCustomDate" novalidate>
    <govuk-date-input value="@Model.CustomDate" id="Date" name-prefix="CustomDate" />

    <govuk-button type="submit">Save</govuk-button>
</form>
