@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page="Index">
    <govuk-date-input asp-for="DateOfBirth">
        <govuk-date-input-label>My date</govuk-date-input-label>
    </govuk-date-input>

    <govuk-button type="submit">Save</govuk-button>
</form>
