@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page="Index" novalidate>
    <govuk-date-input asp-for="DateOfBirth" />

    <govuk-button type="submit">Save</govuk-button>
</form>
