@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page="Index">
    <govuk-date-input for="DateOfBirth">
        <fieldset>
            <legend is-page-heading="true" class="govuk-fieldset__legend--l" />
        </fieldset>
    </govuk-date-input>

    <govuk-button type="submit">Save</govuk-button>
</form>
