@page

<govuk-date-input id="passport-issued" name-prefix="passport-issued">
    <day>
        <label>Dydd</label>
    </day>
    <month>
        <label>Mis</label>
    </month>
    <year>
        <label>Blwyddyn</label>
    </year>
</govuk-date-input>
