@inject PageTemplateHelper PageTemplateHelper
@{
    Layout = "_GovUkPageTemplate";
}

@section Head {
    @PageTemplateHelper.GenerateStyleImports()

    <style type="text/css">
        #container>* {
            margin: 0 !important;
        }
    </style>
}

<div class="@(ViewBag.InlineElement != true ? "govuk-width-container" : "govuk-!-display-inline-block") govuk-!-margin-top-5 govuk-!-padding-3" id="container">
    @RenderBody()
</div>
