@page

<govuk-phase-banner>
    <govuk-phase-banner-tag>Alpha</govuk-phase-banner-tag>
    This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
</govuk-phase-banner>
