@page
@{
    var linkVariable = "foo?bar=baz&qux=foo";
    var dataAttrValue = "Foo & Bar";
}

<govuk-back-link href="foo?bar=baz&qux=foo" data-testid="String" data-foo="Foo & Bar" />

<a href="foo?bar=baz&qux=foo" data-testid="AnchorString" data-foo="Foo & Bar">Link</a>

<govuk-back-link href="@linkVariable" data-testid="Variable" data-foo="@dataAttrValue" />

<a href="@linkVariable" data-testid="AnchorVariable" data-foo="@dataAttrValue">Link</a>

<govuk-back-link asp-page="Empty" asp-route-bar="baz" asp-route-qux="foo" data-testid="GeneratedHref" />

<a asp-page="Empty" asp-route-bar="baz" asp-route-qux="foo" data-testid="AnchorGeneratedHref">Link</a>
