@page

<govuk-checkboxes name="contact">
    <checkboxes-fieldset>
        <legend is-page-heading="true" class="govuk-fieldset__legend--l">
            How would you like to be contacted?
        </legend>

        <hint>
            Select all options that are relevant to you.
        </hint>

        <checkboxes-item value="email">
            Email
            <conditional>
                <govuk-input name="contact-by-email" type="email" autocomplete="email" spellcheck="false" input-class="govuk-!-width-one-third">
                    <label>Email address</label>
                </govuk-input>
            </conditional>
        </checkboxes-item>

        <checkboxes-item value="phone">
            Phone
            <conditional>
                <govuk-input name="contact-by-phone" type="tel" autocomplete="tel" input-class="govuk-!-width-one-third">
                    <label>Phone number</label>
                </govuk-input>
            </conditional>
        </checkboxes-item>

        <checkboxes-item value="text message">
            Text message
            <conditional>
                <govuk-input name="contact-by-text" type="tel" autocomplete="tel" input-class="govuk-!-width-one-third">
                    <label>Mobile phone number</label>
                </govuk-input>
            </conditional>
        </checkboxes-item>
    </checkboxes-fieldset>
</govuk-checkboxes>
