@page

<govuk-select name="Sort">
    <label>Sort by</label>
    <select-item value="published">Recently published</select-item>
    <select-item value="updated" selected="true">Recently updated</select-item>
    <select-item value="views">Most views</select-item>
    <select-item value="comments">Most comments</select-item>
</govuk-select>
