@page

<govuk-input name="EventName">
    <label is-page-heading="true" class="govuk-label--l">What is the name of the event?</label>
    <hint>The name you’ll use on promotional material.</hint>
    <error-message>Enter an event name</error-message>
</govuk-input>
