@page

<govuk-input name="AccountNumber" input-class="govuk-input--width-10" inputmode="numeric" pattern="[0-9]*" spellcheck="false">
    <label is-page-heading="true" class="govuk-label--l">What is your account number?</label>
    <hint>Must be between 6 and 8 digits long</hint>
</govuk-input>
