@page

<govuk-input name="AccountNumber" input-class="govuk-input--width-5" spellcheck="false">
    <label is-page-heading="true" class="govuk-label--l">What is the cost per item, in pounds?</label>
    <prefix>&pound;</prefix>
    <suffix>per item</suffix>
</govuk-input>
