@page "/back-link"

<p>
    <govuk-back-link href="/" />
</p>

<p>
    <govuk-back-link href="/">Back to home page</govuk-back-link>
</p>

<p>
    <govuk-back-link asp-controller="Home" asp-action="Index" />
</p>