name: ci

on:
  push:
    branches:
    - master
    - release
    tags:
    - v*
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
    - uses: actions/checkout@v1

    - name: Setup .NET Core 2.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.607

    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: .NET SxS
      run: |
        rsync -a ${DOTNET_ROOT/3.1.101/2.1.607}/* $DOTNET_ROOT/

    - name: Build
      run: dotnet build --configuration Release

    - name: Test
      run: dotnet test --configuration Release

    - name: Get package version suffix
      id: get_package_version_suffix
      run: echo ::set-output name=SUFFIX::$([[ $GITHUB_REF =~ "refs/tags/" ]] && echo "" || echo "pre-${GITHUB_RUN_NUMBER}")

    - name: Package
      run: |
        VERSION_SUFFIX=${{ steps.get_package_version_suffix.outputs.SUFFIX }}
        dotnet pack --configuration Release --include-symbols \
          ${VERSION_SUFFIX:+ --version-suffix $VERSION_SUFFIX}

    - name: Publish package artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: package
        path: src/GovUk.Frontend.AspNetCore/bin/Release/*.nupkg
    
    - name: Publish package to NuGet
      if: startsWith(github.ref, 'refs/tags/v')
      run: dotnet nuget push src/GovUk.Frontend.AspNetCore/bin/Release/*.nupkg --api-key ${NUGET_TOKEN} --source https://api.nuget.org/v3/index.json
      env:
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }} 
